# Configuración de Yarn para el proyecto
# Usar registry npm oficial
registry "https://registry.npmjs.org/"

# Configuraciones de instalación
save-exact true
init-version "1.0.0"
init-author-name "Chrystian Michell"
init-author-email "chrystianmichell@hotmail.com"
init-license "MIT"