---
import '@styles/blog-post.css';

import type { BlogContentSectionProps } from '@content/types/blog';

const { Content, lang } = Astro.props as BlogContentSectionProps;
---

<div class="prose">
  <section class="content" itemprop="articleBody">
    <Content lang={lang} />
  </section>
</div>
